@import './base.css';

body {
  --primary_hue: 160;
  --primary_main: hsl(var(--primary_hue), 50%, 60%);
  --primary_dark: hsl(var(--primary_hue), 50%, 30%);
  --primary_light: hsl(var(--primary_hue), 50%, 75%);
  --error_hue: 0;
  --error_main: hsl(var(--error_hue), 50%, 60%);
  --error_dark: hsl(var(--error_hue), 50%, 30%);
  --error_light: hsl(var(--error_hue), 50%, 75%);
  --text_hue: var(--primary_hue);
  --text_main: hsl(var(--text_hue), 30%, 20%);
  --text_dark: hsl(var(--text_hue), 20%, 10%);
  --text_light: hsl(var(--text_hue), 50%, 50%);
  --font-small: 0.75rem;
  --font-medium: 1rem;
  --font-large: 1.25rem;
  --font-extra-large: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-size: cover;
  user-select: none;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#main-window {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#main-canvas {
  flex: 0 1 70%;
  background-color: grey;
}

#side-menu {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 30%;
  padding: 1rem;
}

#sec_transform-box-properties {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  justify-content: space-between;
  margin-block: 0.1rem;
  padding: 0.25rem;
  width: 100%;
}

.number-input-group {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1 1 100%;
  width: fit-content;
}

.number-input {
  text-align: center;
  width: 8ch;
}

.btn-common {
  &:hover {
    background-color: var(--primary_light);
  }

  &:active {
    color: var(--primary_light);
    background-color: var(--primary_dark);
  }

  background-color: var(--primary_main);
  color: var(--primary_dark);
  border-radius: 1rem;
  border: 2px solid var(--primary_dark);
  height: 2rem;
  font-weight: bold;
}

.error-element {
  background-color: var(--error_light);
  color: var(--error_main);
  border-radius: 0.1rem;
  border: 1px solid var(--error_dark);
  font-size: var(--font-small);
  font-style: italic;
  padding-inline: 0.3rem;
}

#sec_layers-menu {
  align-items: center;
  background-color: var(--primary_main);
  color: var(--text_main);
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  justify-content: center;
  padding-inline: 0.25rem;
  width: 100%;
}

#ul_layers-list {
  padding-inline: 0.15rem;
  width: inherit;
  max-height: 6rem;
  overflow-y: auto;
}

.li_layer-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary_main);
  padding: 0.15rem;
  width: 100%;

  &:hover {
    background-color: var(--primary_light);
  }
}

.li_layer-item.selected {
  background-color: var(--primary_dark);
  color: var(--primary_light);
}

.li_layer-name-input {
  margin-inline: 1rem;
  text-align: center;
  width: 100%;
}

.btn_delete-layer {
  border: 1px solid var(--primary_dark);
  border-radius: 10rem;
  height: 1.25rem;
  flex: 0 0 1.25rem;
  width: 1.25rem;
  padding: 0rem;
  font-size: var(--font-small);
}
