@import './base.css';

body {
  display: flex;
  align-items: center;
  ustify-content: center;
  overflow: hidden;
  background-size: cover;
  user-select: none;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

#main-window {
  align-items: flex-end;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex: 1 0 100%;
  margin-bottom: 80px;
  min-height: 100vh;
}

#main-canvas{
  flex: 0 1 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:grey;
  min-height: 100vh;
}

#side-menu {
  background-color: lightgrey;
  flex: 1 1 10rem;
  min-height: 100vh;
}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {
  .tip,
  .actions {
    display: none;
  }
}
