@import './base.css';

body {
  display: flex;
  align-items: center;
  ustify-content: center;
  overflow: hidden;
  background-size: cover;
  user-select: none;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#main-window {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#main-canvas{
  flex: 0 1 70%;
  background-color:grey;
}

#side-menu {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 30%;
  padding: 1rem;
}
