.toolMenu {
  background-color: var(--background-50);
  border-right: 1px solid var(--background-700);
  color: var(--text-900);
  font-size: var(--font-small);
  height: 100%;
  min-width: 40px;
  padding-block: 0.5rem;
  padding: 0px;
  transition: var(--background-transition);
  width: 40px;
}

.btn,
.btn-wide {
  &:hover {
    background-color: var(--primary-500);
    border-color: var(--primary-400);
  }

  &.active {
    background-color: var(--primary-600);
    border-color: var(--primary-500);
  }

  align-items: center;
  background-color: var(--primary-400);
  border-color: var(--primary-300);
  border-radius: var(--border-radius-small);
  color: var(--accent-500);
  cursor: pointer;
  display: flex;
  height: 2.2rem;
  justify-content: center;
  transition: var(--background-transition);
  width: 2.2rem;

  & .icon {
    background: linear-gradient(to bottom right,
        var(--accent-500) 40%,
        var(--accent-700));
    height: 1.2rem;
    mask-image: var(--icon-url);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    width: 1.2rem;
  }
}
