.section {
  background: linear-gradient(var(--background-300), var(--background-500));
  border-radius: var(--border-radius-small);
  border: 1px solid var(--background-700);
  color: var(--text-900);
  font-size: var(--font-small);
  margin-block: 0.25rem;
  padding: 0.25rem;
  transition: var(--background-transition);
  width: 100%;

  &[aria-disabled="true"] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.section h5 {
  border-bottom: 1px solid var(--background-700);
  margin-bottom: 0.5rem;
  width: 100%;
}

.emptyState {
  color: var(--text-600);
  font-size: var(--font-small);
  font-style: italic;
}

.cropAccordion {
  border: 1px solid var(--background-700);
  border-radius: var(--border-radius-small);
  margin-top: 0.25rem;
  padding: 0.25rem;
  transition: var(--background-transition);
}

.cropAccordion[data-disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.cropAccordion summary {
  cursor: pointer;
  font-size: var(--font-small);
  font-weight: bold;
  padding: 0.125rem 0;
}
