.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
}

.label {
  user-select: none;
  white-space: nowrap;
}

.input {
  width: 100%;
  text-align: left;
}
