.sideMenu {
  background-color: var(--background-50);
  border-left: 1px solid var(--background-700);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 210px;
  max-width: 210px;
  padding: 0.5rem;
  overflow-y: auto;
  transition: var(--background-transition);
}
