@import './base.css';
@import './utility.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-size: cover;
  user-select: none;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#main-window {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#main-canvas {
  background-color: var(--background-300);
  transition: var(--background-transition);
}

#alerts-container {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 10rem;
  gap: 1rem;
  padding: 1rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  overflow: hidden;
  z-index: 1000;
  pointer-events: none;
  mask-image: linear-gradient(to bottom, transparent 0%, black 50%);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover;
}

.alert {
  background-color: var(--background-500);
  border-radius: 0.25rem;
  border: 1px solid var(--background-700);
  box-shadow: "0 0 10px rgba(0, 0, 0, 0.1)";
  color: var(--text-900);
  font-size: var(--font-small);
  max-width: calc(100% - 2rem);
  opacity: 0.8;
  padding: 0.5rem;
  pointer-events: "all";
  transition: "opacity 0.5s ease-in-out, transform 0.5s ease-in-out";
  width: fit-content;
  & p:nth-child(1) {
    font-size: 0.5rem;
    font-style: italic;
    font-weight: bolder;
  }
  &.sucesso {
    background-color: lightgreen;
  }
  &.erro {
    background-color: indianred;
  }
}

#side-menu {
  background-color: var(--background-50);
  border-left: 1px solid var(--background-700);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  transition: var(--background-transition);
}

.number-input-group {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1 1 100%;
  width: fit-content;
}

.number-input {
  text-align: center;
  width: 6ch;
}

.btn-common,
.btn-common-wide {
  &:hover {
    background-color: var(--primary-500);
    border-color: var(--primary-400);
  }

  &.active {
    background-color: var(--primary-600);
    border-color: var(--primary-500);
  }

  align-items: center;
  background-color: var(--primary-400);
  border-color: var(--primary-300);
  border-radius: 0.25rem;
  color: var(--accent-500);
  cursor: pointer;
  display: flex;
  height: 2rem;
  justify-content: center;
  transition: var(--background-transition);
  width: 2rem;

  & .icon {
    background: linear-gradient(to bottom right, var(--accent-500) 40%, var(--accent-700));
    height: 1.35rem;
    mask-image: var(--icon-url);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    width: 1.35rem;
  }
}

.btn-common-wide {
  font-weight: bold;
  width: 6rem;
}

.btn-small {
  display: flex;
  background-color: transparent;
  border: none;

  & label {
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 1.25rem;
    justify-content: center;
    transition: var(--background-transition);
    width: 1.25rem;
  }

  & label::before {
    content: '';
    display: block;
    background: linear-gradient(to bottom right, var(--accent-500) 40%, var(--accent-700));
    height: 1rem;
    mask-image: var(--icon-url);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    width: 1rem;
  }
}

.tgl-common {
  display: none;

  &+label {
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 1.25rem;
    justify-content: center;
    transition: var(--background-transition);
    width: 1.25rem;
  }

  &:checked+label {
    background-color: var(--primary-500);
  }

  &+label::before {
    content: '';
    display: block;
    background: linear-gradient(to bottom right, var(--accent-500) 40%, var(--accent-700));
    height: 1rem;
    mask-image: var(--icon-url);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    width: 1rem;
  }

  &:checked+label::before {
    mask-image: var(--checked-icon-url);
  }

  &.active + label::before{
    transform: rotate(90deg);
  }
}

.dialog-common {
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.35);
  }
  menu {
    padding-top: 1rem;
    padding-inline: 1rem;
  }
  h3 {
    border-bottom: 1px solid var(--background-700);
    margin-bottom: 0.5rem;
    width: 100%;
  }
  background: linear-gradient(var(--background-300), var(--background-500));
  border: 1px solid var(--background-700);
  border-radius: 0.5rem;
  color: var(--text-900);
  align-self: center;
  justify-self: center;
  height: fit-content;
  padding: 0.5rem;
  width: fit-content;
}

.error-element {
  background-color: var(--error_light);
  color: var(--error_main);
  border-radius: 0.1rem;
  border: 1px solid var(--error_dark);
  font-size: var(--font-small);
  font-style: italic;
  padding-inline: 0.3rem;
}

.sec_menu-style {
  background: linear-gradient(var(--background-300), var(--background-500));
  border-radius: 0.25rem;
  border: 1px solid var(--background-700);
  color: var(--text-900);
  font-size: var(--font-small);
  margin-block: 0.25rem;
  padding: 0.25rem;
  transition: var(--background-transition);
  width: 100%;

  h5 {
    border-bottom: 1px solid var(--background-700);
    margin-bottom: 0.5rem;
    width: 100%;
  }
}

#ul_layers-list {
  background-color: var(--background-500);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  max-height: 7rem;
  min-height: 7rem;
  overflow: hidden;
  overflow-y: auto;
  padding: 1rem 0 0 0;
  width: 100%;
}


.ul_group-children {
  flex-direction: column-reverse;
  padding-top: 0.25rem;
  list-style: none;
  padding-left: 1rem;
  width: 100%;
  li {
    border: none;
    border-top: 1px solid var(--secondary-800);
  }
}

.li_layer-item {
  display: flex; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  background-color: var(--secondary-400);
  border-bottom: 1px solid var(--secondary-800);
  transition: var(--background-transition);
  padding: 0.15rem;
  width: 100%;

  &:hover {
    background-color: var(--secondary-200);
  }
}

.li_layer-controls {
  display: flex;
  flex: 0 0 4rem;
  button {
    padding: 0;
    width: 1.25rem;
  }
}

.li_layer-info {
  display: flex;
  overflow: hidden;
  flex: 1 1 auto;
}

.li_layer-item.selected {
  background-color: var(--secondary-600);
  color: var(--text-900);
}

.li_layer-name-input {
  margin-inline: 1rem;
  text-align: center;
  flex: 1 1 auto;
}

.li_layer-name {
  align-self: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#gradient-bar {
  background-color: var(--background-500);
  border-radius: 5px;
  border: 1px solid var(--background-700);
  height: 20px;
  width: 100%;
}

#color-stops-indicators {
  height: 1rem;
  position: relative;
}

#tool-menu {
  background-color: var(--background-50);
  border-right: 1px solid var(--background-700);
  color: var(--text-900);
  font-size: var(--font-small);
  height: 100%;
  min-width: 40px;
  padding-block: 0.5rem;
  padding: 0px;
  transition: var(--background-transition);
  width: 40px;
}
