.container {
  display: flex;
  flex-direction: row;
}

.container-column {
  display: flex;
  flex-direction: column;
}

.ai-c {
  align-items: center;
}

.jc-sb {
  justify-content: space-between;
}

.ai-jc-c {
  align-items: center;
  justify-content: center;
}

.g-05 {
  gap: 0.5rem;
}

.g-1 {
  gap: 1rem;
}
