.container {
  display: flex;
  flex-direction: row;
}

.container-column {
  display: flex;
  flex-direction: column;
}

.fb-100 {
  flex-basis: 100%;
}

.ai-fs {
  align-items: flex-start;
}

.ai-c {
  align-items: center;
}

.jc-sb {
  justify-content: space-between;
}

.jc-fs {
  justify-content: flex-start;
}

.ai-jc-c {
  align-items: center;
  justify-content: center;
}

.g-05 {
  gap: 0.5rem;
}

.g-1 {
  gap: 1rem;
}

.bd-r {
  border-right: 1px solid var(--primary_dark);
}

.pad-i-05 {
  padding-inline: 0.5rem;
}

.pad-b-05 {
  padding-block: 0.5rem;
}

.pad-05 {
  padding: 0.5rem;
}

.pad-1 {
  padding: 1rem;
}
