body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: auto;
}

.main-window {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  align-items: flex-start;
  background-color: darkgrey;
  height: auto;
}

.side-menu {
  background-color: red;
}

.btn-common {
  text-transform: lowercase;
}
