.backdrop {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog {
  background: linear-gradient(var(--background-300), var(--background-500));
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--background-700);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  color: var(--text-900);
  height: fit-content;
  padding: 0.5rem;
  width: fit-content;
  min-width: 20rem;
}

.dialog h3 {
  border-bottom: 1px solid var(--background-700);
  margin-bottom: 0.5rem;
  width: 100%;
  user-select: none;
}

.dialog menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding-top: 1rem;
  padding-inline: 1rem;
}
